/* RESET */
.mg-top130 { margin-top: 130px; }
.mg-bottom { margin-bottom: 40px; }
.mg-bottom20 { margin-bottom: 20px; }
.mg-top { margin-top: 40px; }
.mg-top60 { margin-top: 60px; }
.btn.focus, .btn:focus { outline: 0; box-shadow: none !important; }
.card { border: none !important; }
.tel_mobile { display: none; }
.tel_desktop { display: block; }
.modal-content { padding: 20px; border: none !important; }
.close { color: #fff !important; opacity: 1 !important; margin-right: 30px; margin-top: 20px; }
.close:hover { color: #D3B565 !important; }
.modal-dialog { margin: 2.75rem auto; }
.modal-none { display: none; }
.navbar-toggler svg { color: #fff !important; }
.navbar-nav span { display: none; position: absolute; right: 15px; top: 0; font-size: 40px; color: #fff; cursor: pointer; }
.dropdown-toggle::after { display: none; }
div.expandCollapseImg-1tH6A {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../img/arrow-down.svg') no-repeat;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

/* NAVBAR */
.header { width: 100%; position: absolute; z-index: 2; padding: 10px 5px 0 5px; }
.navbar-brand img:first-child { margin-right: 25px; }
.social img {  margin-left: 5px; margin-right: 5px; }
.social a { text-decoration: none; }
#menu-main { align-content: flex-end; direction: rtl; -webkit-direction: rtl; -moz-direction: rtl; -o-direction: rtl; margin-right: 35px; }
#menu-main ul { direction: ltr; -webkit-direction: ltr; -moz-direction: ltr; -o-direction: ltr; }
#menu-main ul a { font-family: 'Proxima Nova Regular', sans-serif; font-size: 11px; letter-spacing: 65px; letter-spacing: 2px;  font-weight: 100; }
.nav-item a { color: #fff !important; }
.dropdown-menu { background-color: rgba(29, 29, 29, 0.95); }
.dropdown-item:hover { background-color: transparent !important; }

/* BANNER */
.banner-section { position: relative; background-color: rgba(29, 29, 29, 0.95); }
.banner-section:before { content: ''; position: absolute; top: 0; left: 0; background: url('../img/background-home.png') no-repeat; width: 100%; height: 100%; background-size: cover; z-index: -1; }
.banner-content { width: 100%; bottom: 0; z-index: 1; margin-top: 25%; margin-bottom: 27%; }
.banner-content h1 { color: rgba(211, 181, 101, 1); font-family: 'Ovo', sans-serif; font-size: 44px; text-align: center; }
.banner-box-content { width: 65%; background-color: rgba(59, 59, 59, 0.75); height: auto; margin: 0 auto; display: table; text-align: center; padding: 10px; display: flex; align-items: center; justify-content: space-around;}
.banner-box-content span { color: #fff; font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; line-height: 17px; }
.btn-banner { background-color: rgba(211, 181, 101, 1); width: 154px; height: 40px; border: none; border-radius: 0px;  display: flex; align-items: center; justify-content: space-between; }
.btn-banner span { color: #1D1D1D; font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; font-weight: bold; text-transform: uppercase; }
.line { border-top: 2px solid #000; width: 40px; height: 0px; margin-top: 0px; }
.line-banner { border-top: 2px solid rgba(59, 59, 59, 1.55); width: 100%; height: 0px; margin-bottom: 12px; }
.banner-section-internal:before { background-position-y: -165px !important; }
.banner-internal { margin-top: 10% !important; margin-bottom: 0% !important; }

/* HOMEPAGE */
.main {  background: url(../img/detalhe-fundo.svg) no-repeat; width: 100%; height: 100%; position: relative; background-position-x: -260px; background-size: 55%; background-position-y: 60px; padding-bottom: 130px; }
.main:before { content: ''; position: absolute; top: 0; left: 0; background-color: #F2F2F2; width: 100%; height: 100%; z-index: -1; }
.main-content { width: 100%; height: auto; padding: 80px 100px; }
.main-info { display: flex; flex-direction: column; overflow: hidden; width: 400px; height: auto; background-color: #fff; position: absolute; box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.05); z-index: 1; padding: 25px 50px; top: 150px;}
.main-info h1 { color: #696969; font-size: 30px; font-family: 'Ovo', sans-serif; line-height: 32px; text-align: left; }
.main-info p { color: #A0A0A0; font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; text-align: left; }
.main-img { position: relative; }
.main-img img { float: right; margin-right: -100px; }
.btn-main { display: flex; align-items: center; justify-content: space-between; background-color: #fff; width: 90%; margin-top: 50px; }
.btn-main span { color: #696969; font-size: 14px; line-height: 15px; font-family: 'Proxima Nova Bold', sans-serif; }
.btn-main div.line { width: 30px; }
.line-two { width: 100%; height: 1px; background-color: #D3B565; margin-top: 30px; }

.box-services { width: 100%; height: 286px; background-color: rgba(29, 29, 29, 0.85); overflow: hidden; padding-top: 95px; padding-left: 30px; padding-right: 30px; }
.box-services h1 { color: #fff; font-family: 'Ovo', sans-serif; font-size: 30px; line-height: 32px; }
.box-services p { color: #fff; font-family: 'Proxima Nova Regular', sans-serif; font-size: 15px; line-height: 20px; margin-bottom: 35px; }
.box-services a { display: flex; align-items: center; justify-content: space-between; color: rgba(211, 181, 101, 1); font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; line-height: 15px; text-transform: uppercase; width: 45%; }
.service_one a { width: 70% !important; }
.line-services { width: 31px; height: 4px; background-color: #D3B565; }
.service_one:after { content: ''; position: absolute; top: 0; background: url('../img/background-parceiros.png') no-repeat; width: 94.5%; height: 100%; background-size: cover; z-index: -1; left: 15px; }
.service_two:after { content: ''; position: absolute; top: 0; background: url('../img/background-dicas.png') no-repeat; width: 94.5%; height: 100%; background-size: cover; z-index: -1; left: 15px; }

/* ABOUT */
.about { width: 100%; position: relative; }
.bg-about { width: 655px; height: 535px; background: url('../img/bg-about.png') no-repeat; }
.about-info { top: 50px !important; left: 508px !important; }
.about-info div.line-two { margin-top: 65px !important; }
.info_one h4 { font-family: 'Proxima Nova Regular', sans-serif; text-transform: uppercase; font-size: 20px; color: rgba(211, 181, 101, 1); }
.info_one h1 { font-size: 100px; margin: 0; font-family: 'Proxima Nova Bold', sans-serif; color: rgba(211, 181, 101, 1); line-height: 0.9; }
.info_one h5 { font-family: 'Ovo', sans-serif; font-size: 30px; color: rgba(211, 181, 101, 1); }
.info_one p { color: #A0A0A0; font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; text-align: left; }
.line-about { border-top: 2px solid rgba(160, 160, 160, 0.2); width: 100%; height: 0px; }
.event-content { padding: 0 !important; }
.about a.btn-main { width: 100% !important; }
.about a.btn-main span { font-size: 11px !important; }
.event-content div.line-two { margin-top: 20px !important; }

/* ENTERPRISE */
.main_enterprise {  padding-bottom: 0px !important; }
.enterprise { width: 100%; padding: 80px 100px; }
.enterprise div.col-lg-4 { overflow: hidden; padding-right: 0px !important; }
#form_search input { background-image: url('../img/search.svg'); background-repeat: no-repeat; background-position: 2% 50%, 0% 0%; background-color: #fff; height: 57px; font-family: 'Proxima Nova Regular', sans-serif; font-size: 13px; color: #696969; text-align: left; box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.11); padding-left: 60px; }
#form_search input::placeholder { font-family: 'Proxima Nova Regular', sans-serif; font-size: 13px; color: #696969; text-align: left; }
#form_search input:focus { outline: none !important; box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.11) !important; border: #696969 !important; }
.box-enterprise { width: 100%; height: 256px; overflow: hidden; margin-top: 60px; }
.box-enterprise { transition: 300ms; content: ''; width: 100%; height: 256px; background: rgba(29,29,29,1); background: linear-gradient(to top, rgba(29,29,29,0.9) 0%, rgba(29,29,29,0.2) 100%); -moz-background: linear-gradient(to top, rgba(29,29,29,0.9) 0%, rgba(29,29,29,0.2) 100%); -webkit-background: linear-gradient(to top, rgba(29,29,29,0.9) 0%, rgba(29,29,29,0.2) 100%); }
.box-enterprise h1 { font-family: 'Ovo', sans-serif; font-size: 26px; color: #D3B565; text-align: left; }
.box-enterprise p { font-family: 'Ovo', sans-serif; font-size: 14px; color: #fff; text-align: left; }
.enterprise-info { padding-top: 115px; padding-left: 15px; padding-right: 15px; }
.btn-enterprise { width: 100%; background-color: #fff; border-radius: 0 !important; font-family: 'Proxima Nova Bold', sans-serif; font-size: 12px; color: #D3B565; line-height: 15px; padding: 15px; }
.btn-enterprise:hover { color: #D3B565; outline: none; box-shadow: none; }
.card-content { box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.11); margin-bottom: 25px; }
.card-info { padding: 10px; display: flex; align-items: center; }
.card-info img { width: 130px; }
.card-p { margin-left: 20px; }
.card-p p { padding-bottom: 7px; margin-bottom: -1rem; font-family: 'Proxima Nova Bold', sans-serif; font-size: 16px; text-align: left; color: #1D1D1D; }
.card-p a { font-family: 'Proxima Nova Regular', sans-serif; font-size: 12px; text-align: left; color: #000; text-decoration: none; }
.btn-card { padding-bottom: 15px; display: flex; align-items: center; justify-content: space-around; color: #696969 !important; font-family: 'Proxima Nova Bold', sans-serif; font-size: 12px; text-align: center; }
.btn-card span { text-align: center; }
.line-card { width: 80%; height: 1px; background-color: rgba(0, 0, 0, 0.11); margin-top: 30px; margin-left: 30px; margin-top: 10px;     margin-bottom: 20px; }
.line-card-btn { border-top: 2px solid rgba(105, 105, 105, 1); width: 30px; height: 0px; margin-top: 0px; margin-left: -90px; }


.rotate { transform: rotate(180deg); }

/* INTERNAL ENTERPRISE */
.about_interal { padding: 60px; }
.enterprise-slide .slick-next { right: 0; z-index: 1; position: absolute; }
.enterprise-slide .slick-prev { left: 0; z-index: 1; position: absolute; }
.enterprise-slide .slick-dots { position: relative; bottom: 50px; padding: 0; margin: 0 10%; text-align: center; left: 70%; list-style: none; }
.enterprise-slide button.slick-next:before { content: url('../img/arrow-right.png') !important;  }
.enterprise-slide button.slick-prev:before { content: url('../img/arrow-left.png') !important; }
.enterprise-slide .slick-dots li { float: left; margin: 0 auto; }
.enterprise-slide .slick-dots li button:before { font-family: 'slick'; font-size: 10px; line-height: 20px; opacity: .5; width: 100%; content: url('../img/dot_slide.png'); text-align: center; color: #fff; -webkit-font-smoothing: antialiased; }
.enterprise-slide .slick-dots li.slick-active button:before { content: url('../img/dot_hover.png') !important; }
.box-content-internal { background-color: #fff; box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.05); }
.info-box-internal { display: flex; align-items: center; justify-content: space-between; padding: 20px; }
.box-infos p { color: #696969; font-family: 'Proxima Nova Bold', sans-serif; font-size: 14px; text-transform: uppercase; text-align: right; margin-bottom: 0px; }
.box-infos span { color: #696969; font-family: 'Proxima Nova Regular', sans-serif; font-size: 12px; text-transform: uppercase; text-align: right; margin-bottom: 0px; }
.line-internal { width: 80% !important; margin-left: 60px; border-top: 2px solid rgba(160, 160, 160, 0.1) !important; }
.content-box { padding: 20px; }
.content-box h1 { margin: 0; font-size: 30px; color: rgba(211, 181, 101, 1); font-family: 'Ovo', sans-serif; }
.content-box span { color: #696969; font-family: 'Proxima Nova Regular', sans-serif;  font-size: 16px; }
.content-box p { margin-top: 20px; font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; color: #A0A0A0; }
.bg-full { width: 100%; height: auto; background-size: cover !important; background: no-repeat center; }
.contact-internal { margin-bottom: 60px; color: #696969; font-family: 'Ovo', sans-serif; font-size: 30px; text-align: center; }
.cards-enterprise { width: 100%; background-color: #fff; padding: 25px; text-align: center; position: relative; }
.box-icon { background-color: #fff; border-radius: 100%; padding: 20px; width: 23%; position: absolute; top: -25px; left: 52%; margin-left: -45px;  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.05); }
.box-icon i { font-size: 35px; color: rgba(211, 181, 101, 1); }
.cards-enterprise p { color: rgba(211, 181, 101, 1); margin-top: 50px; font-size: 18px; margin-bottom: 0px; font-family: 'Proxima Nova Bold', sans-serif; }
.cards-enterprise a { color: rgba(211, 181, 101, 1); font-family: 'Proxima Nova Regular', sans-serif; font-size: 16px; text-decoration: none; }
.enterprise-slide { overflow: hidden; }

/* DEPO */
.flex { display: flex; align-items: center; justify-content: space-between; margin: 0 auto; width: 80%; }
.depositions button.slick-next:before { content: url('../img/arrow-right_depo.png') !important;  }
.depositions button.slick-prev:before { content: url('../img/arrow-left_depo.png') !important; }
.depositions .slick-dots { margin: 0 auto; display: table; list-style: none; margin-top: 30px; }
.depositions .slick-dots li { float: left; margin: 0 auto; }
.depositions .slick-dots li button:before { font-family: 'slick'; font-size: 10px; line-height: 20px; opacity: .5; width: 100%; content: url('../img/dot_slide_depo.png'); text-align: center; color: #fff; -webkit-font-smoothing: antialiased; }
.depositions .slick-dots li.slick-active button:before { content: url('../img/dot_hover.png') !important; }
.depositions .slick-next { right: 0; z-index: 1; position: absolute; }
.depositions .slick-prev { left: 0; z-index: 1; position: absolute; }
.depositions .content { margin-left: 30px; }
.depositions h1 { color: #696969; font-family: 'Proxima Nova Bold', sans-serif; font-size: 20px; text-transform: uppercase; text-align: left; margin-bottom: 0px; }
.depositions span { color: #696969; font-family: 'Proxima Nova Regular', sans-serif; font-size: 14px; text-align: left; margin-bottom: 0px; }
.depositions p { margin-top: 20px; color: #696969; font-family: 'Proxima Nova Regular', sans-serif; font-size: 14px; text-align: left; margin-bottom: 0px; }

/* VIDEO */
.bg-video { width: 100% !important; height: 395px !important; margin-top: 0px !important; background: url('../img/bg-video.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; }
#videoSection {position: relative;padding-bottom: 56.25%;padding-top: 30px; height: 0; overflow: hidden;}
#videoSection iframe,
#videoSection object,
#videoSection embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/* FORM HUB */
.form-hub { float: left; width: 100%; height: auto; background-color: #fff; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05); margin-top: 60px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; }
.form-hub h1 { font-family: 'Ovo', sans-serif; font-size: 30px; color: rgba(211, 181, 101, 1); }
.form-hub p { color: #A0A0A0; font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; text-align: left; margin-bottom: 5px; }
#form_contato_hub { margin-top: 50px; }
#form_contato_hub label { color: #A0A0A0; text-transform: uppercase;font-family: 'Proxima Nova Bold', sans-serif; font-size: 12px; }
#form_contato_hub input { height: 45px; border-radius: 0 !important; }
#form_contato_hub input:focus { box-shadow: none !important; border: 1px solid #A0A0A0 !important; }
#form_contato_hub textarea:focus { box-shadow: none !important; border: 1px solid #A0A0A0 !important; }

/* CONTATCT */
.contact-info { padding-bottom: 20px; width: 100%; height: auto; overflow: hidden; background-color: #fff; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05); margin-top: 60px; }
.line-contact { width: 90%; border-top: 1px solid rgba(211, 181, 101, 1); margin: 0 auto; margin-top: 10px; margin-bottom: 10px; }
.contact-info p { font-family: 'Proxima Nova Regular', sans-serif; color: #A0A0A0; font-size: 14px; text-align: center; }
.contact-info a { text-decoration: none; font-family: 'Proxima Nova Bold', sans-serif; color: #A0A0A0; font-size: 14px; text-align: center; padding: 10px 0 26px 26px;}
.line-contact-two { border-top: 2px solid rgba(59, 59, 59, 0.1); width: 90%; height: 0px; margin: 0 auto; margin-top: 10px; margin-bottom: 5px; }
.contact-form iframe { width: 100% !important; }

/* FOOTER */
.footer { background-color: #1D1D1D; padding: 50px; }
.line-footer { border-top: 2px solid rgba(59, 59, 59, 1.55); width: 30%; height: 0px; margin-bottom: 0px; margin-top: 5px; }
.footer a { color: #fff; font-family: 'Proxima Nova Regular', sans-serif; line-height: 12px; font-size: 12px; text-transform: uppercase; }
.info-footer { display: flex; align-items: center; justify-content: space-between; }
.copyright { background-color: #191919; padding: 20px; }
.copyright_content { display: flex; align-items: center; justify-content: space-between; }
.copyright_content_text { color: #fff; font-family: 'Proxima Nova Regular', sans-serif; line-height: 12px; font-size: 12px; }
.copyright_content a { color: #fff; transition: 300ms; }
.copyright_content a:hover { color: rgba(211, 181, 101, 1); text-decoration: none; }

/* FORM MODAL */
.modal-title { color: #D3B565; font-family: 'Ovo', sans-serif; font-size: 30px; text-align: center; margin-bottom: 30px; }
.modal-subtitle { color: #696969; font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; text-align: center; }
.modal-subtitle:after { content: ''; width: 31px; height: 1px; border-top: 1px solid #D3B565; position: relative; top: 15px; margin: 0 auto; display: table; }
.btn-modal { width: 154px; height: 44px; background-color: #D3B565; font-family: 'Proxima Nova Bold', sans-serif; font-size: 12px; text-decoration: none !important; color: #1D1D1D !important; display: flex; align-items: center; justify-content: space-between; margin: 0 auto; margin-top: 25px; border: none; }
.btn-modal span { padding-left: 20px; }
.line-modal { border-top: 2px solid #000; width: 31px; height: 0px; margin-top: 0px; margin-right: 20px; }
.modal-content i { color: #696969; position: absolute; }
#form-question div { display: flex; margin: auto; align-items: center; justify-content: space-between; flex-flow: row wrap; }
#form-question input[type=radio] { display:none; }
#form-question input[type="radio"] + label {background-color: #fff;color: #696969;cursor: pointer;width: 185px;height: 45px;text-align: left;margin-bottom: 15px;transition: 300ms;padding-top: 12px; padding-left: 10px; font-size: 14px; font-family: 'Proxima Nova Regular', sans-serif; border: 1px solid #fff; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3); }
#form-question input[type="radio"]:checked + label {background-color: #D3B565;color: #fff;border: 1px solid #fff;}

/* MODAL */
.openvideo {display: none; position: fixed;z-index: 999;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.box-openvideo {position: relative;width: fit-content;margin: 0 auto;height: auto;}
.openvideo-content {background-color: transparent;margin: 5% auto;padding: 20px;width: 100%;}
.closevideo {opacity: 1 !important;margin-right: 0px;margin-top: -20px;position: relative;background-image: url('../img/close.svg');background-size: 18px;width: 17px;height: 17px;background-repeat: no-repeat;cursor: pointer;float: right;}
.closevideo:hover,
.closevideo:focus {color: red;text-decoration: none;cursor: pointer;}
.openvideo-content iframe {margin: 0 auto;display: table;}
.line-modal-top { border-top: 2px solid rgba(59, 59, 59, 0.1); width: 100%; height: 0px; margin-top: 30px; }

/* RESPONSIVE */

/* 991 */
@media screen and (max-width: 991px) {
	.navbar-nav { position: fixed; background-color: rgba(0,0,0,0.9); width: 100%; height: 100%; margin-right: -55px; text-align: center; padding: 100px; margin-top: -65px; }
	#menu-main ul a { font-size: 25px; }
	.navbar-nav span { display: block; }
	.form-hub { height: auto !important; }
	.hub-contact div.row { flex-direction: column-reverse; }
	.reverse { flex-direction: column-reverse; }
	.enterprise-slide { margin-top: 50px; }
	.box-icon {width: 11%; left: 50%;  }
	.cards-enterprise { margin-bottom: 60px; }
	.flex { width: 100%; }
	.main { background-size: 100%; background-position-x: 0px; }
	.bg-about { width: 100%; margin: 0 auto; }
	.about-info { top: -303px !important; left: 0px !important; margin-bottom: -210px !important; }
}

/* 992 */
@media screen and (max-width: 992px) {
	.box-openvideo { width: 100% !important; }
	.tel_mobile { display: block; }
	.tel_desktop { display: none; }
	.banner-box-content span { font-size: 12px; }
	.banner-content h1 { font-size: 35px; }
	.box-services a { font-size: 11px; }
	.box-services h1 { font-size: 25px; }
	.box-services p { font-size: 12px; }
	.info-footer { flex-direction: column; }
	.info-footer img { margin-bottom: 30px; }
	.info-footer a { margin-bottom: 30px; }
	.line-footer { margin-bottom: 30px; }
	.social { display: none }
	.banner-content h1 {font-size: 29px; }
	.banner-box-content span { display: none; }
	.btn-banner span { display: block !important; }
	.banner-box-content { background-color: transparent; width: 100%; }
	.main-img { margin-top: -200px; }
	.main-img img { float: none; margin-right: 0px; }
	.main-info { top: 30px; margin: 0 auto; display: table; position: relative; }
	.main-content { padding: 0; padding-top: 60px; }
	.reponsive-top60 { margin-top: 30px; }
	.box-services { width: 99%; }
	.service_one a { width: 79% !important;  }
	.box-services a { width: 60%; }
	.copyright_content { flex-direction: column; }
	.copyright_content div { margin-top: 10px; }
	.copyright_content div { margin-bottom: 10px; text-align: center; }
	.social-rodape { display: block !important; }
}


/* 767 */
@media screen and (max-width: 767px) {
	.banner-internal { margin-top: 20% !important; }
    .mg-top130 { margin-top: 78px; }
    .box-services { width: 100%; }
}

/* 600 */
@media screen and (max-width: 600px) {
	.openvideo-content iframe {width: 100%;}
	.openvideo-content {position: relative;padding-bottom: 56.25%;padding-top: 30px; height: 0; overflow: hidden;margin: 40% auto;}
	.openvideo-content iframe,
	.openvideo-content object,
	.openvideo-content embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
	.banner-section-internal:before { background-position-y: -20px !important; }
	.info-box-internal { flex-direction: column; }
	.info-box-internal img { margin-bottom: 20px; }
	.content-box h1 { font-size: 24px; }
	.content-box span { font-size: 13px; }
	.box-icon { width: 19%; }
	.depositions .slick-next { right: -50px }
	.depositions .slick-prev { left: -50px }
	.flex { flex-direction: column; }
	.enterprise { padding: 80px 0; }
}

/* 574 */
@media screen and (max-width: 574px) {
	.modal-dialog { padding-right: 25px; padding-left: 25px; margin: 5.75rem auto; }
}

/* 500 */
@media screen and (max-width: 500px) {
	.banner-content { margin-top: 35%; margin-bottom: 15%; }
	.banner-section:before { background-position: center center; }
	.service_one:after { width: 93.5%; }
	.service_one a { width: 74% !important; }
	.box-services a { width: 50%; }
	.box-services { width: 100%; }
	.mg-top130 { margin-top: 45px; }
	.navbar-brand img { width: 20%; }
	#form_search input::placeholder { font-size: 12px; }
	#form_search input { background-position: 5% 50%, 0% 0%; padding-left: 40px; }
	#form-question input[type="radio"] + label { width: 45%; }
}

/* 420 */
@media screen and (max-width: 420px) {
	.main-img { margin-top: -45px; }
	.navbar-brand { width: 70%; }
	.box-services { width: 101% !important; }
	.service_two:after { width: 93.5% !important; }
	.main-info { width: 100%; }
	.service_one a { width: 93% !important; }
	.box-services a { width: 60%; }
	.navbar-brand img {width: 35%;}
	.banner-internal { margin-top: 30% !important; }
	#menu-main ul a { font-size: 20px; }
	.modal-content { padding: 20px 5px 20px 5px; }
}


/* 340 */
@media screen and (max-width: 340px) {
	.box-services { width: 103% !important; }
	.box-services { padding-top: 35px; padding-left: 12px;}
	.box-services a { width: 80%; }
	.box-services a { font-size: 10px; }
}
